
.container {
  border: 1px solid rgb(222, 209, 209);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-align: center;
  max-width: 400px;
  margin: 100px auto; 
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  top: 20%;
}

.header-page{
  margin-bottom: 30px;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TextField {
  width: 100%;
  margin-bottom: 20px;
}

Button {
  width: 50px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

Button:hover {
  background-color: #0056b3;
}

.link {
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}
