body {
    background-color: white;
}

a{
    text-decoration: none;
    color: #27251f;
    font-size: large;
    padding-left: 10px;
}
a:hover{
    color: rgb(216, 216, 137);
}
.containers {
    background-color: white;
    margin-top: 22vh;
    position: relative;
     padding: 0 20px;
    width: 300px;
    height: 160px;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%);
    
}

form {
    margin-left: 10px;

}

input[type="text"] ,input[type="password"] {
    border: 1px solid transparent;
    background: #ededed;
    color: #666666;
    padding: 5px 20px;
    font-weight: 500;
    margin-bottom: 12px;
    height: 30px;
    width: 80%;
    
}

input[type="submit"] {
    height: 40px;
    width: 95%;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 15px;
    font-family: Arial;
    font-size: 13px;
}
input[type="submit"]:hover{
    color: rgb(5, 5, 5);
    font-size: 16px;

}